<a href="/posts/new">Post an item for sale</a>
<h1>Hello <%= @user.username %></h1>

<% if @posts == [] %>
  You currently have 0 items posted.
<% else %>
  Below are your items currently listed for sale...<br><br>
<% end %>

<div id="container">
  <% @posts.each do |post| %>
    <div class="item">
      <div class="img">
        <%= image_tag post.image_url(:thumb).to_s %><br>
      </div>
      <label>City: </label>
      <%= post.city %><br>
      <label>Name: </label>
      <%= post.name %><br>
      <label>Category: </label>
      <%= post.category %><br>
      <label>Description: </label>
      <%= post.description %><br>
      <label>Price: </label>
      <%= post.price %><br>
      <label>Contact: </label>
      <%= post.contact %><br>
      <%= link_to 'Edit', edit_post_path(post) %>
    </div> 
  <% end %>
</div>