<h3>Find treasures near you...</h3>
<%= form_tag posts_path, :method => "get" do %>
  Enter your city, state: <%= text_field_tag :search, params[:search], placeholder: "San Francisco, CA, United States", id: "post_city" %>
  Category: <%= select(:post, :category, [['Clothes'], ['Shoes'], ['Accessories'], ['Furniture'], ['Electronics'], ['Toys & Games'], ['Household Items'], ['Sporting Goods'], ['Musical Instrument'], ['Antiques'], ['Other']], :prompt => 'Select Category') %>
  <%= submit_tag "Search", :class => "submit_city" %>
<% end %>

<%#= form_tag posts_path, :method => "get" do %>
  <!--Category: <%#= select(:post, :category, [['Clothes'], ['Shoes'], ['Accessories'], ['Furniture'], ['Electronics'], ['Toys & Games'], ['Household Items'], ['Sporting Goods'], ['Musical Instrument'], ['Antiques'], ['Other']], :prompt => 'Select Category') %>
  <%#= submit_tag "Submit", :class => "submit_category" %>
<%# end %>-->
<br><br>
  

  <div id="container">
  <% @posts.each do |post| %>
    <div class="item">
      <div class="img">
        <%= image_tag post.image_url(:thumb).to_s %><br>
      </div>
      <label>Posted:</label>
      <%= post.created_at.strftime("%b. %d %Y") %><br>

      <label>City: </label>
      <%= post.city %><br>

      <label>Name: </label>
      <%= post.name %><br>

      <label>Category: </label>
      <%= post.category %><br>

      <label>Description: </label>
      <%= post.description %><br>

      <label>Price: </label>
      <%= post.price %><br>

      <label>Contact: </label>
      <%= post.contact %>
    </div> 
  <% end %>
</div>