<h3>Find treasures near you...</h3>
Enter your city, state: <input type="text" id="post_city"> <br><br>   

  <div id="container">
  <% @posts.each do |post| %>
    <div class="item">
      <div class="img">
        <%= image_tag post.image_url(:thumb).to_s %><br>
      </div>
      <label>Posted:</label>
      <%= post.created_at.strftime("%b. %d %Y") %><br>

      <label>City: </label>
      <%= post.city %><br>

      <label>Name: </label>
      <%= post.name %><br>

      <label>Category: </label>
      <%= post.category %><br>

      <label>Description: </label>
      <%= post.description %><br>

      <label>Price: </label>
      <%= post.price %><br>

      <label>Contact: </label>
      <%= post.contact %>
    </div> 
  <% end %>
</div>